@import "src/variables";
@import "lib/mixins/fontface";
@import "src/fonts";

body {
  display: flex;
  flex-direction: column;

  .masthead {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
    flex: 0 1 auto;
    background: #3DB0AE !important;
    text-align: left !important;

    h1 {
      font-size: 4rem;
      color: #fcfcfc;
    }
  }

  #typeform {
    flex: 1 1 auto;
    overflow: hidden;

    // section {
    //   height: 100%;
    //   border: 1px solid #FC9A5B;
    // }
  }
}
  
